In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [9]:
bio = pd.read_csv('bio_wehave.csv',  encoding = 'utf-8')  #Wenyi's files he sent on slack
len(bio)

98

In [3]:
bio.head()

   Unnamed: 0                     docid Success  Pages Multivolumes
0         1.0  loc.ark=+13960+t5p851b8s       y  412.0          NaN
1         2.0        hvd.32044070870779       y  454.0          NaN
2         3.0        mdp.39015005892362       y  278.0          NaN
3         4.0        mdp.39015051108531       y  220.0          NaN
4         5.0  loc.ark=+13960+t6b27z54n       y  358.0          NaN

In [8]:
fic = pd.read_csv('fiction_wehave.csv',  encoding = 'utf-8') #the other Wenyi file
fic.head()
len(fic)

565

In [5]:
ficids = fic.loc[(fic['docid'] != 'NA')]
bioids = bio.loc[(bio['docid'] != 'NA')]
whatwehave = ficids.append(bioids)

In [7]:
len(whatwehave)  #sounds about right, with Wenyi's summary?

663

In [43]:
#Things that *might* be missing -- based on date updated, we added to the ted fic file and you & I added extra older texts!

tedfic = pd.read_csv('we added to ted_fic.csv',  encoding = 'utf-8') 
extra18cbio = pd.read_csv('extra18cbio.csv',  encoding = 'utf-8') 
extra18cfic = pd.read_csv('extra 18cFiction.csv',  encoding = 'utf-8')

In [53]:
tedficids = tedfic.loc[(tedfic['docid'] != 'NA')]
extra18cbioids = extra18cbio.loc[(extra18cbio['docid'] != 'NA')]
whatwemiss = tedficids.append(extra18cbioids) 
len(tedficids)

175

In [19]:
extra18cficids = extra18cfic.loc[(extra18cfic['docid'] != 'NA')]
whatwemiss2 = whatwemiss.append(extra18cficids)

In [20]:
len(whatwemiss2)

230

In [44]:
whatwehave['docid'].isin(whatwemiss2['docid']).value_counts() #70 of the ted fic books had already been collected in Wenyi's first run

False    593
True      70
Name: docid, dtype: int64

In [54]:
len(extra18cbioids) + len(extra18cficids) + 105 # 105 = tedfic length - the number of books already collected

160

In [41]:
missingbooks = set(whatwemiss2['docid']).difference(set(whatwehave['docid']))

In [36]:
len(missingbooks) #math checks out

160

In [49]:
bookstoadd = whatwemiss2.loc[(whatwemiss2['docid'].isin(missingbooks))]

In [50]:
bookstoadd.head()

,docid,author,authordate,title,latestcomp,hathidate,imprint,gutenstring,enumcron,gbindex,...,LOCgenres,LOCsubjects,contents,instances,genre,audience,authgender,multiplehtids,comments,coder
0,uc2.ark+=13960=t8df6n879,"Abbott, Edwin Abbott",1838-1926.,Philochristus,1878,1878.0,London;Macmillan;1878.,"Abbott, Edwin Abbott | Philochristus",NaN,48843,...,NaN,Jesus Christ,NaN,1.0,fic | historical,NaN,m,NaN,some utf-8 errors in Gutenberg text,NaN
1,loc.ark+=13960=t0sq92228,"Abbott, Henry",1850-,Lost Pond,1915,1915.0,New York;1915.,"Abbott, Henry | Lost Pond",NaN,34669,...,NaN,Description and travel|Adirondack Mountains (N...,NaN,1.0,bio,NaN,m,NaN,very short,NaN
7,uc2.ark+=13960=t40s0065x,"Alcock, Deborah",1835-1913.,The Spanish brothers,1888,1891.0,London ; New York;T. Nelson;,"Alcock, Deborah | The Spanish Brothers",NaN,44262,...,NaN,NaN,NaN,1.0,fic | historical,NaN,f,NaN,NaN,NaN
11,uc2.ark+=13960=t7zk56x55,"Allen, James Lane",1849-1925.,The Kentucky warbler,1918,1918.0,"Garden City, New York;Double","Allen, James Lane | The Kentucky Warbler",NaN,46905,...,NaN,NaN,NaN,3.0,fic,NaN,m,NaN,NaN,NaN
12,uc2.ark+=13960=t1vd6r264,"Allen, Willis Boyd",1855-1938.,The north Pacific,1905,1905.0,New York;E.P. Dutton & Compa,"Allen, Willis Boyd | The North Pacific",NaN,45413,...,NaN,"Russo-Japanese War, 1904-1905",NaN,1.0,fic,NaN,m,NaN,NaN,NaN

In [51]:
len(bookstoadd)

160

In [52]:
bookstoadd.to_csv('bookstoadd.csv')